body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.joke{
    text-align: center;
}